.navbar-brand{color: tomato!important;
    font-family: cursive !important;
    font-size: xx-large !important;}
    .navbar-nav{    font-size: x-large!important;}
    .btn-outline-info{    background-color: tomato !important;
        color: white!important;}
        /* color: #fff!important; */